/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

@font-face {
	font-family: 'Lobster1.1Regular';
	src: url('../fonts/Lobster_1.1_-webfont.eot');
	src: local('.'), url('../fonts/Lobster_1.1_-webfont.woff') format('woff'), url('../fonts/Lobster_1.1_-webfont.ttf') format('truetype'), url('../fonts/Lobster_1.1_-webfont.svg#webfont30G9S4nm') format('svg');
	font-weight: normal;
	font-style: normal; }

@font-face {
	font-family: 'RalewayThin';
	src: url('../fonts/raleway_thin-webfont.eot');
	src: local('.'), url('../fonts/raleway_thin-webfont.woff') format('woff'), url('../fonts/raleway_thin-webfont.ttf') format('truetype'), url('../fonts/raleway_thin-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal; }

/* Site-wide properties ======================================================== */
body{
    font: normal normal 10px/10px Tahoma, Arial, Helvetica, Verdana, sans-serif;
    height:100%;
}

    /* Fibonacci based heading scale ratio */
    h1{
	font-size: 4.4em;
	font-weight: normal;
	margin: 10px 0;
    }
    h2{
	font-size: 2.8em;
	font-weight: bold;
	margin: 10px 0;
    }
    h3{
	font-size: 1.6em;
	font-weight: bold;
	margin: 10px 0;
    }
    h4{
	font-size: 1.2em;
	font-weight: bold;
	margin: 10px 0;
    }

/* Reusable classes ============================================================ */

/* Left & Right alignment */
.left{
    float: left;
}
.right{
    float: right;
}

/* The inside class provides consistent padding. To be used often! */
.inside{ padding: 20px; }

/* The fraction classes are useful for column lists */
.half, .third, .quarter, .fifth, .sixth{ width: 100%; }
.half li, .third li, .quarter li, .fifth li, .sixth li{ float: left; }
.half li{ padding-right: 5%; width: 45% }
.third li{  padding-right: 5%; width: 28.3% }
.quarter li{  padding-right: 5%; width: 20% }
.fifth li{  padding-right: 5%; width: 15% }

/* For when a <br /> just ain't enough */
.separator{
    clear: both;
    float: left;
    height: 1px;
    width: 100%; }

/* Basic Structure ============================================================= */
#wrap{
    margin: 0 auto;
    position: relative;
    width: 960px;
    height: 100%;

}

/* Header */
header{
    float: left;
    width: 100%; }

/* Content */
article{
    float: left;
    width: 66.7%; }

/* Sidebar */
aside{
    float: left;
    width: 33.3%;
    height: 100%;
    margin:auto;
}

/* Footer */
footer{
    float: left;
    width: 100%; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Project specifics =========================================================== */
body {
    background:#f7f4eb
}

article {
    background:#fbfaf5
}

.logo {
    color: #ddd;
}

header {
    border-bottom: 2px solid #000;
    background: #333333;

}

nav {
    font-family: 'Aguardiente';
    line-height: 140%;
    text-rendering: optimizeLegibility;
    font-size: 30px;
    color: #f0f0f0;
    border-top: 1px solid #555;
}

nav a{
    color: #f0f0f0;
    padding: 10px;
}

nav a:hover{
    color: #dddddd;
}


footer {
    border-top: 2px solid #000;
}

aside .inside{
    border-right: 1px solid #333;
}


.record {
    /* margin: 0 0 20px 0; */
    border-bottom: 1px solid #555;
}

.joke {
    font-family: 'Josefin';
    line-height: 140%;
    text-rendering: optimizeLegibility;
    font-size: 20px;
}

.quote {
}

.image img {
    text-align:center;
}

.wideo {

}

.list-element-footer {
    text-align:right;
    font-family: 'Josefin';
    margin: 0 0 30px 0;
}

.list-element-footer a{
    text-decoration: none;
    color: #111;
    font-family: 'Aguardiente';
}


#registration input:not([type=submit]){
    width: 400px;
}

#login input:not([type=submit]){
    width: 500px;
}

.login-form a{
    color:#AF3300;
    outline:medium none;
}

.login-form ul,
.login-form li {
    list-style:none outside none;
    font-size: 1.20em;
    padding:0 0 7px 10px;
    padding:6px 0 3px 2px;
}

ul, li {
        list-style:none outside none;
}

.errors {
    color:#993333;
    font-weight: bold;
}
/* Pour some CSS below ========================================================= */

/* The H1 declarations - for @font-face presentational purposes only */
h1{ font: 50px 'Lobster1.1Regular', Arial, sans-serif; }
    h1 span{ font: 50px RalewayThin, Arial, sans-serif; letter-spacing: -4px }
h2{ font-family: 'Lobster1.1Regular', Arial, sans-serif; }
h3{ font-family: 'Lobster1.1Regular', Arial, sans-serif; }
