Django==1.3.1
Fabric==1.2.2
PIL==1.1.7
Pygments==1.4
South==0.7.3
Werkzeug==0.7.1
distribute==0.6.21
django-compressor==0.7.1
django-extensions==0.6
django-gravatar==0.1.0
-e git://github.com/django-mptt/django-mptt.git@0af02a95877041b2fd6d458bd95413dc1666c321#egg=django_mptt-dev
django-social-auth==0.5.13
django-tagging==0.3.1
djangorestframework==0.2.3
easy-thumbnails==1.0-alpha-17
http-parser==0.7.0
httplib2==0.7.1
ipdb==0.6
ipython==0.11
logilab-astng==0.22.0
logilab-common==0.56.2
oauth2==1.5.170
paramiko==1.7.7.1
pycrypto==2.3
pylint==0.24.0
python-openid==2.2.5
restkit==3.3.1
unittest2==0.5.1
wsgiref==0.1.2
