{% load i18n %}
<div class="grid_12 alpha omega clearfix">
  <div id="login">
    <div id="view-name">login</div>
    
    <form id="login-form" method="post" action="/ajax/login/valid/">
      {% csrf_token %}
      <fieldset>
        {{ form.username.label_tag }}{{ form.username }}
        {{ form.password.label_tag }}{{ form.password }}
        <div style="text-align:right">
          <input type="submit" value="login" />
        </div>
          <input type="hidden" name="next" value="{{ login_next }}" />
      </fieldset>
    </form>
  </div>
</div>
