{% extends 'base.html' %}
{% load i18n %}

{% block application %}
<div class="grid_12 alpha omega clearfix">
  <div id="registration">
    <div class="view-header">
      <h1>{% trans "Register" %}</h1>
    </div>
    <form action="/accounts/register/" method="post">
      {% csrf_token %}
      {% for field in form %}
      <h3>{{ field.label_tag }}</h3>
      <span class="errors">{{ field.errors }}</span>
      {{ field }}
      {% endfor %}
      <div style="text-align:right">
        <input type="submit" value="Register" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
