{% load i18n %}

<div class="grid_12 alpha omega clearfix">
  <div id="registration">

    <h1>Registration</h1>
    <form id="registration-form" method="post" action="/ajax/registration/valid/">
      {% csrf_token %}
      <fieldset>

        {{ form.username.label_tag }}{{ form.username }}
        {{ form.email.label_tag }}{{ form.email }}
        {{ form.password1.label_tag }}{{ form.password1 }}
        {{ form.password2.label_tag }}{{ form.password2 }}

        <div style="text-align:right">
          <input type="submit" value="register" />
        </div>

        <input type="hidden" name="next" value="{{ login_next }}" />
      </fieldset>
    </form>
    
  </div>
</div>
