{% extends 'base.html' %}
{% load i18n %}

{% block js-include %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/core/new.js"></script>
{% endblock %}

{% block application %}
<div class="grid_16 alpha">
  <div id="record-new">
    <h2>New Item</h2>

    <ul>
      <li><a id="joke-link" class="active" href="#">{% trans "joke" %}</a></li>
      <li><a id="image-link" href="#">{% trans "pic" %}</a></li>
      <li><a id="quote-link" href="#">{% trans "quote" %}</a></li>
      <li><a id="video-link" href="#">{% trans "video" %}</a></li>
    </ul>
    <form>

      <div id="joke-form" class="form">
        {{ joke_form.content }}
      </div>

      <div id="image-form" class="form">
        <div>{{ image_form.title }}</div>
        <div>{{ image_form.image }}</div>
        <div>{{ image_form.url }}</div>
      </div>

      <div id="quote-form" class="form">
        {{ quote_form.content }}
      </div>

      <div id="video-form" class="form">
        {{ video_form.title }}
      </div>

      <div style="text-align:right">
        <input type="submit" class="submit" value="{% trans "Create"%}" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
