/* /\* Reset css *\/ */
/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { */
/*     border:0 none; */
/*     font-family:inherit; */
/*     /\* font-size: 9px; *\/ */
/*     font-style:inherit; */
/*     font-weight:inherit; */
/*     margin:0; */
/*     padding:0; */
/*     vertical-align:baseline; */
/* } */

/* Global css */
body {
    font-family:georgia,arial;
    font-size: 11px;
}

.footer {
    min-height:200px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.logo {
    font-family:arial;
    font-size:40px;
    text-decoration: none;
}

.logo .sub {
    font-size:20px;
}

.menu {
    padding-top:26px;
}

.list {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.element-details {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.element-new textarea {
    width: 920px;
}

.element-new input:not([type=submit]) {
    width: 300px;
}

.element-new  {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0px 5px;
}


.list-element {
    font-size: 14px;
    padding:20px 10px;
}

.list-element h1 {
    font-size: 15px;
    font-family:georgia;
    margin-bottom: 10px;
}

.list-element img {
    margin-left: 1em;
}

.list-element-footer {
    /* margin-bottom: 15px; */
    border-bottom: 1px solid #eee;
    background: #f7f7f7;
    text-align: right;
    padding:2px 20px;
    /* for webkit browsers */
    background: -webkit-gradient(linear, left top, left bottom,to(#fff),  from(#f0f0f0));
    /* for firefox 3.6+ */
    background: -moz-linear-gradient(top, #fff, #f0f0f0);
}

.list-element-footer a {
    color:#555555;
    font-weight:bold;
    text-decoration:underline;
}


.comment-form {
    padding-left: 10px;
    padding-right: 10px;
    background: white;
}

.comment-form .submit {
    text-align:right;
}


.comment-form textarea {
    display:block;
    width:100%;
}

.joke {
    font-family: 'Droid Sans', arial, serif;
}

.quote {
}

.image img {
    text-align:center;
}

.wideo {

}