.block-form {
    border-radius: 6px;
    margin: 5px 0;
    Background: white;
}

.block-form label {
    cursor: pointer;
}

.block-form-placeholder { 
    border: 3px solid #FCEFA1;
    border-radius: 6px;
    background: #ffee77;
    padding: 3px;
    margin: 5px 0;
}

.block-form-onmove {
    border: 3px solid #CCCCCC;
}

.block-form label {
    
}

.block-form.image .or {
    position: relative; 
    background:url(http://ep2011.europython.eu/static/8a9c110514f5/p5/i/sep.png); 
    height: 30px
}

.block-form.image .or div {
    background: white; 
    position: absolute; 
    left: 48%; 
    top: -5px; 
    padding: 0 15px;
    font-size: 28px;
}

.block-form.text textarea {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.58em;
    text-align: justify;
    height: 120px;
    padding-bottom: 10px;
}

.block-form.video textarea {
    height: 120px;
    font-family: monospace;
    font-size: 12px;
}

.block-form.code textarea,
.block-form.code input{
    font-family: monospace;
    font-size: 14px;
}

.block.code .highlighttable {
    border: 1px solid;
    width: 100%;
}

.block.code .linenos {
    background: #DDDDDD;
    border-right: 1px solid #555555;
    padding-right: 3px;
    width: 25px;
    text-align:right;
}

.block.code .highlight {
    padding: 0 4px;
    overflow-x: auto;
    width: 905px;
}

/* .block.code .highlight{ */

/*     overflow-y: hidden; */
/* } */

.block.image {
    text-align:center;
}

