.block-form {
    border: 1px solid #cccccc; 
    border-radius: 6px;
    padding: 5px;
    margin: 5px 0;
    Background: white;
}

.block-form label {
    cursor: pointer;
}

.block-form-placeholder { 
    border: 3px solid #FCEFA1;
    border-radius: 6px;
    background: #ffee77;
    padding: 3px;
    margin: 5px 0;
}

.block-form-onmove {
    border: 3px solid #CCCCCC;
}

.block-form label {
    
}

.block-form.image .or {
    position: relative; 
    background:url(http://ep2011.europython.eu/static/8a9c110514f5/p5/i/sep.png); 
    height: 30px
}

.block-form.image .or div {
    background: white; 
    position: absolute; 
    left: 48%; 
    top: -5px; 
    padding: 0 15px;
    font-size: 28px;
}

.block-form.text textarea {
    font-family: Arial, sans-serif;
    line-height: 1.58em;
    vertical-align: baseline;
    outline: 0;
    orphans: 4;
    hyphenate: auto;
    hyphenate-before: 2;
    hyphenate-after: 3;
    hyphenate-lines: 3;
    orphans: 4;
    text-align: justify;
}

.block-form.code textarea,
.block-form.code input{
    font-family: monospace;
    font-size: 14px;
}

.block-form.text textarea{
    font-family: georgia;
    font-size: 15px;
}

.block.code .highlighttable {
    border: 1px solid;
}

.block.code .highlighttable .linenos {
    background: #DDDDDD;
    border-right: 1px solid #555555;
    padding-right: 3px;
    width: 200px;
    text-align:right;
}

.block.code .highlight{
    overflow-x: auto;
    overflow-y: hidden;
}

.block.image {
    text-align:center;
}

