* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Yanone Kaffeesatz', serif;
    font-weight: 400;
    color: #4b4b4b;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

h1 {
    font-family: 'Terminal Dosis Light', serif;
    font-size: 24px;
    color: #aa5533;
    position: relative;
    margin-bottom: 5px;
}

#logo-view {
    color: #AA5533;
    font-size: 40px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#logo a {
    font-family: 'Yanone Kaffeesatz', serif;
    font-weight: 700;
    color: #fff;
    font-size: 40px;
}

#logo a:hover {
    color: #ddd;
}

#view-name {
    display:none;
}

h2 { 
    padding-left: 125px; 
    font-size: 66px; 
    color: #ff5400; 
    height: 105px; 
}

h2 span.sub { 
    font-size: 48px; 
    float: left; 
    color: #4b4b4b; 
}

a {
    color: #7ac000;
    text-decoration: none; 
    padding-bottom: 2px;
}

a:hover {
    color: #ff5400;
    text-decoration: none;
    /* border-bottom: 1px solid #ff5400; */
    padding-bottom: 2px;
}

a:active {
    color: #ff5400;
    text-decoration: none;
    /* border-bottom: 1px solid #ff5400; */
    padding-bottom: 2px;
    position: relative;
    top: 1px;
}

p {
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 36px;
    text-align: justify;
}

#header {
    padding: 0 0 10px 0;
    width: 100%;
    background-color: #000;
    margin-bottom: 25px; 
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 1000;
    height: 38px;
}

#headercontainer, 
#contentcontainer,
#contentswitch{
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#contentswitch {
    background: none repeat scroll 0 0 #EEEEEE;
    margin-top: 7px;
    padding:5px;
}

#userprofileinfo {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    background: #444;
    color: #ddd;
    padding: 2px 0;
}

#userprofileinfo_header {
    width: 960px;
    margin: 0 auto;
    position: relative;
    text-align: right;
}

#top-nav {
    font-family: 'Lato', serif;
    line-height: 3em;
    height: 90px;
    margin: 0 auto;
    position: absolute;
    list-style: none;
    right: 0;
}

#top-nav li {
    float: left;
}

#top-nav li a {
    color: #d1d1d1;
    display: block;
    height: 48px;
    padding: 0 10px;
    text-shadow: 1px 1px 2px #000;
    text-transform: uppercase;
    text-decoration: none;
}

#top-nav li a:hover {
    background: url(../images/nav-hover-bg.png);
    color: #fff;
    z-index: 0;
}

.pagination-nav {
    text-align:center;
    font-size: 1.5em;
}

.pagination-nav.top{
    margin:100px 0 0 0;
}

.pagination-nav.bottom {
    margin:30px 0 0 0;
}

input[type=text],
input[type=password],
input[type=file],
textarea {
    width: 100%;
}

input, textarea {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.4);
    border: 3px solid rgba(122, 192, 0, 0.15);
    padding: 7px;
    color: #4b4b4b;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 5px;
}

input:focus,
textarea:focus {
    border: 3px solid #ff9933;
    background-color: rgba(255, 255, 255, 1);
}

input[type="submit"] {
    font-family: 'Yanone Kaffeesatz', serif;
    font-weight: 300;
    margin-bottom: -5px;
    margin-right: 3px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.6em;
    background-color: #7ac000;
    padding: 2px 24px; 
    border-radius: 10px; 
    border-radius: 10px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.23, #619702),
        color-stop(0.62, #7ac000)
    );
    background: -moz-linear-gradient(
        center bottom,
        #619702 23%,
        #7ac000 62%
    );
}

input[type="submit"]:hover {
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    background-color: #ff5400;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.23, #c34000),
        color-stop(0.62, #ff5400)
    );
    background: -moz-linear-gradient(
        center bottom,
        #c34000 23%,
        #ff5400 62%
    );
}

input[type="submit"]:active {
    position: relative;
    top: 1px;
}

fieldset {
    border: none;
}

label {
    color: #ff5400;
    display: block;
}

#login,
#registration,
#record-details,
#record-list,
#record-new {
    margin-top: 100px;
}

#record-details {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

#record-details .details{
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}


#record-responses {
    margin: 10px 0;
}

.response {
    margin: 10px 0;
    border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 5px;
}

.list-element {
    border-bottom: 3px solid rgba(122, 192, 0, 0.15);
    padding: 5px 0;
    margin-bottom: 15px;
}

.list-element .stamp {
    float: left;
}

.list-element .tags {
    text-align: right;
}

.record {
    border-bottom: 1px dashed #555;
    text-align: justify;
    font-size: 1.6em;
}

.record-comments {
    margin-top: 20px;
}

#record-new ul,
#record-new li {
    display: inline;
    font-size: 1.3em;
    margin-bottom: 20px;
}

#record-new a.active {
    color:black;
}

#record-new fieldset {
    margin-top: 20px;
}

.add-link {
    cursor: pointer;
}

.block-form {
    position: relative;
    padding: 5px 0;
}

.block-form.focus .remove {
    background-image: url("../images/close_button.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 28px;
    position: absolute;
    right: -15px;
    top: -7px;
    width: 30px;
}

.block-form.focus {
    background: #ffffcc;
}

.block-form.focus input,
.block-form.focus textarea {
    background: white;
}

.block-form.focus {
    background: #ffffdd;
}

.block .handle {
    cursor: pointer;
    text-align: center;
    height: 5px;
    background: #555;
    margin-right: 15px;
    margin-bottom: 10px;
}

.disabled input[type=text], 
.disabled textarea {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
}

.hidden {
    display:none;
}

