<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FunnyBag</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}reset.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}main.css" />
    <link rel="stylesheet" type="text/css" href="http://960ls.atomidata.com/static/cssserve/8/9/1/5/9/89159.css">

  </head>

  <body>
    {% block application %}

    {% endblock %}
  </body>

</html>
