<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FunnyBag</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery.form-2.43.js"></script>
    <script>{% block js-settings %}{% endblock %}</script>
    <script type="text/javascript" src="{{ MEDIA_URL }}main.js"></script>

    <link rel="stylesheet" href="{{ MEDIA_URL }}reset.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}main.css" />
    <link rel="stylesheet" type="text/css" href="http://960ls.atomidata.com/static/cssserve/8/9/1/5/9/89159.css" />



  </head>

  <body>
    <div class="header">
      asd
    </div>
    {% block application %}

    {% endblock %}
    <div class="footer">
      asd
    </div>

  </body>

</html>
