{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Funnybag!</title>
    <meta charset="utf-8" />
    <meta name="description" content="FunnyBAG" />
    <link rel="Shortcut Icon" type="image/ico" href="{{ MEDIA_URL }}img/favicon.png" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/queries/netbooks-tablets.css" type="text/css" media="screen and (max-width: 1007px)" />
    <link rel="stylesheet" type="text/css" href="http://960ls.atomidata.com/static/cssserve/9/9/2/9/3/99293.css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/html5.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/custom.js"></script>

    <!--[if IE 7]><link rel="stylesheet" href="css/ie/ie7.css" type="text/css" media="screen"><![endif]-->
    <!--[if lt IE 7]><link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen"><![endif]-->

  </head>
  <body>
    <div id="wrap">
      <header>
        <div class="inside">
          <a class="logo" href="/">
	    <h1>Funny<span>bag</span></h1>
	  </a>
          <nav>
	    <a href="#">{% trans "latest" %}</a>
	    <a href="#">{% trans "top" %}</a>
	    <a href="#">{% trans "all" %}</a>
	    <a href="/new">{% trans "new" %}</a>
          </nav>
        </div>
      </header>
      <article>
        <section>
          <div class="inside">
	    {% block application %}
	    {% endblock %}
          </div>
        </section>
      </article>
      <aside>
        <div class="inside">
        </div>
      </aside>
    </div>
    <footer>
      <div class="inside">
      </div>
    </footer>

  </body>
</html>

<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> -->
<!--   <head> -->
<!--     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
<!--     <title>FunnyBag</title> -->
<!--     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script> -->
<!--     <script type="text/javascript" src="{{ MEDIA_URL }}jquery.form-2.43.js"></script> -->
<!--     <script>{% block js-settings %}{% endblock %}</script> -->
<!--     <script type="text/javascript" src="{{ MEDIA_URL }}main.js"></script> -->

<!--     <link rel="stylesheet" href="{{ MEDIA_URL }}reset.css" /> -->
<!--     <link rel="stylesheet" href="{{ MEDIA_URL }}main.css" /> -->
<!--     <link rel="stylesheet" type="text/css" href="http://960ls.atomidata.com/static/cssserve/9/9/2/9/3/99293.css" -->
<!-- 	  /> -->
<!--     <link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'> -->


<!--   </head> -->

<!--   <body> -->
<!--     <div class="container_12"> -->
<!--       <div class="grid_7 alpha"> -->
<!-- 	<div class="logo"> -->
<!-- 	  <a href="/"> -->
<!-- 	    <span class="sub">funny</span>Bag -->
<!-- 	  </a> -->
<!-- 	</div> -->
<!--       </div> -->

<!--       <div class="grid_5 omega"> -->
<!-- 	<div class="menu"> -->
<!-- 	  <a href="#">{% trans "latest" %}</a> -->
<!-- 	  <a href="#">{% trans "top" %}</a> -->
<!-- 	  <a href="#">{% trans "all" %}</a> -->
<!-- 	  <a href="/new">{% trans "new" %}</a> -->
<!-- 	</div> -->
<!--       </div> -->

<!--       <div class="grid_12 alpha"> -->

<!--       </div> -->
<!--       <div class="grid_12 alpha"> -->
<!-- 	<div class="footer"> -->

<!-- 	</div> -->
<!--       </div> -->

<!--     </div> -->
<!--   </body> -->

<!-- </html> -->
