{% load i18n %}
{% load tagging_tags %}
{% load mptt_tags %}

{% tags_for_object record as tag_list %}

<div class="grid_12">
  <div id="record-details">
    <div class="heading clearfix">
      <h1>{{ record.title }}</h1>
      <div class="grid_6 alpha">
        {{ record.created_time|date:"D d M Y" }} by <a href="#a/{{ record.created_by.username }}">{{ record.created_by.username }}</a>
      </div>
      <div class="grid_6 omega" style="text-align:right">
        {% if tag_list %}
        {% for tag in tag_list %}<a href="#t/{{ tag|iriencode }}">{{ tag }}</a> {% endfor %}
        {% else %}
        &nbsp;
        {% endif %}
      </div>
    </div>
    
    <div class="grid_12 alpha omega details clearfix">
      {% for block in record.blocks.all %}
      <div class="{{ block.data.type }} block">
        {{ block.data.render }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="grid_12">
  <div id="record-responses" class="clearfix">
    {% for response in record.get_children %}
    <div class="response" class="clearfix">
      
      {% for block in response.blocks.all %}
      {{ block.data.render }}
      {% endfor %}
      
      {{ record.created_time|date:"D d M Y" }} 
      by <a href="#a/{{ record.created_by.username }}">{{ record.created_by.username }}</a>
      
    </div>
    {% endfor %}
    
    <form method="post" action="{% url funnybag.core.views.response_valid record.id %}">
      {% csrf_token %}
      {{ form.text }}
      {{ form.sequence }}
      <div style="text-align:right">
        <input type="submit" class="submit" value="{% trans "Response"%}" />
      </div>
    </form>
    
  </div>
</div>

