<script id="record-details-template" type="text/template">
  <h1>
    <img width="40" height="40" 
         src="http://www.gravatar.com/avatar/<%= created_by.gravatar %>/?default=&amp;amp;s=40">
    <%= title %>
  </h1>
  
  <% _.each(blocks, function(block) { 
     block_template = _.template($('#' + block.type + '-block-template').html()); %> 
  
  <div class="grid_12 alpha omega details clearfix">
    <div class="<%= block.type %> block">
      <%= block_template({data: block.data}) %>
    </div>
  </div>

  <% }); %>

  <div class="grid_6 alpha">
    <%= created_time %> by
    <a href="#a/<%= created_by.username %>"><%= created_by.username %></a>
  </div>
  <div class="grid_6 omega" style="text-align:right">
    <a href="#t/humor">humor</a>
    <a href="#t/quote">quote</a>
  </div>
</script>

<script id="image-block-template" type="text/template">
  <image style="max-width: 1000px;" src="/media/<%= data.image %>" />
</script>

<script id="text-block-template" type="text/template">
  <%= data.text %>
</script>
