{% load i18n %}
{% load tagging_tags %}


<div class="grid_12 alpha omega clearfix">
  <div id="record-list" class="clearfix">

    {% for record in records %}
    {% tags_for_object record as tag_list %}

    <div class="list-element">
      <h1><a href="#{{ record.slug }}/{{ record.id }}/">{{ record.title }}</a></h1>
      {% for block in record.blocks.all %}
      <p>{{ block.data.render }}</p>
      {% endfor %}
    </div>
    <div class="list-element-footer">
      <div class="grid_6 alpha">
        {{ record.created_time|date:"D d M Y" }} by {{ record.created_by }}
      </div>
      <div class="grid_6 omega" style="text-align:right">
        {% if tag_list %}
        {% for tag in tag_list %}<a href="#t/{{ tag|iriencode }}">{{ tag }}</a> {% endfor %}
        {% endif %}
      </div>
    </div>
    {% empty %}
    <div class="empty">empty</div>
    {% endfor %}

  </div>
</div>

