{% load i18n %}

<div class="grid_12 alpha omega clearfix">
  <div id="record-list" class="clearfix">

    {% for record in records %}
    <div class="list-element">
      <h1>{{ record.title }}</h1>
      {% for block in record.blocks.all %}
      <p>{{ block.data.render }}</p>
      {% endfor %}
    </div>
    <div class="list-element-footer">
      <div class="grid_6 alpha">
        [<a href="{{ record.get_absolute_url }}">link</a>] [<a href="#">{% trans "source" %}</a>]
        {{ record.created_time|date:"D d M Y" }}
      </div>
      <div class="grid_6 omega" style="text-align:right">
        {% trans "added by" %} {{ record.user }}
      </div>
    </div>
    {% empty %}
    <div class="empty">empty</div>
    {% endfor %}

  </div>
</div>

