{% load i18n %}
{% load tagging_tags %}

<div class="grid_12 alpha omega clearfix">
  <div id="record-list" class="clearfix">
    <div id="view-name">{% if title %}{{ title }}{% else %}latest{% endif %}</div>
    {% for record in records %}
    {% tags_for_object record as tag_list %}

    <div class="list-element">
      <h1><a href="#{{ record.slug }}/{{ record.id }}/">{{ record.title }}</a></h1>
    </div>
    <div class="list-element-footer">
      <div class="grid_6 alpha">
        {{ record.created_time|date:"D d M Y" }} by <a href="#a/{{ record.created_by.username }}">{{ record.created_by.username }}</a>
      </div>
      <div class="grid_6 omega" style="text-align:right">
        {% if tag_list %}
        {% for tag in tag_list %}<a href="#t/{{ tag|iriencode }}">{{ tag }}</a> {% endfor %}
        {% endif %}
      </div>
    </div>
    {% empty %}
    <div class="empty">empty</div>
    {% endfor %}

  </div>
</div>

