{% load i18n %}

<script>
  active = "{{ record_type }}";
</script>

<div class="grid_12 alpha omega clearfix">
  <div id="record-new">
    <div id="view-name">new</div>
    <form id="new-record-form" method="post" class="clearfix" 
          action="{% url funnybag.core.views.new_valid %}" 
          enctype="multipart/form-data">

      {% csrf_token %}

      {{ record_form }}
      
      <ul class="add-block">
        <li><a name="text" id="add-text-link" class="add-link">{% trans "text" %}</a></li>
        <li><a name="link" id="add-link-link" class="add-link">{% trans "link" %}</a></li>
        <li><a name="video" id="add-video-link" class="add-link">{% trans "video" %}</a></li>
        <li><a name="image" id="add-image-link" class="add-link">{% trans "image" %}</a></li>
        <li><a name="code" id="add-code-link" class="add-link">{% trans "code" %}</a></li>
      </ul>
      
      <div class="block-panel">
      </div>
      
      <div style="text-align:right">
        <input type="submit" class="submit" value="{% trans "Create"%}" />
      </div>
      
      {% for block in blocksset %}
      {{ block.management_form }}
      {% endfor %}
    </form>
  </div>
</div>


{% for block in blocksset %}
<script type="text/template" id="{{ block.model.type }}-template"> 
  <div id="{{ block.empty_form.instance.type }}-__prefix__" class="{{ block.model.type }} block-form ui-state-default">
    <div class="handle"></div>
    <div class="remove"></div>
    {{ block.empty_form }}
  </div>
</script>
{% endfor %}
