{% load i18n %}

<script>
  active = "{{ record_type }}";
</script>

<div class="grid_12 alpha omega clearfix">
  <div id="record-new">
    <h1>New</h1>
    <form id="new-record-form" method="post" class="clearfix" 
          action="{% url funnybag.core.views.new_valid %}" 
          enctype="multipart/form-data">

      {% csrf_token %}

      {{ record_form }}
      
      <ul class="add-block">
        <li><a name="text" id="add-text-link" class="add-link">{% trans "text" %}</a></li>
        <li><a name="video" id="add-video-link" class="add-link">{% trans "video" %}</a></li>
        <li><a name="image" id="add-image-link" class="add-link">{% trans "image" %}</a></li>
      </ul>
      
      <ul class="block-panel">
      </ul>
      
      <div style="text-align:right">
        <input type="submit" class="submit" value="{% trans "Preview"%}" />
        <input type="submit" class="submit" value="{% trans "Create"%}" />
      </div>
      
      {% for block in blocksset %}
      {{ block.management_form }}
      {% endfor %}
    </form>
  </div>
</div>


{% for block in blocksset %}
<script type="text/template" id="{{ block.model.type }}-template"> 
  <li>
    <div class="{{ block.model.type }} block">
      <div class="handle"></div>
      <div class="remove">X</div>
      {% for field in block.empty_form.visible_fields %}
      {{ field.label_tag }}
      {{ field }}
      {% endfor %}
      {% for field in block.empty_form.hidden_fields %}
      {{ field }}
      {% endfor %}
    </div>
  </li>
</script>
{% endfor %}
