{% load i18n %}
<script id="record-new-template" type="text/template">
  <form id="record-new-form" enctype="multipart/form-data" method="post">
    
    {{ record_form.title.label_tag }}
    {{ record_form.title }}

    {{ record_form.tags.label_tag }}
    {{ record_form.tags }}

    <ul class="add-block">
      <li><a name="text"  class="add-block-button">{% trans "text" %}</a></li>
      <li><a name="link"  class="add-block-button">{% trans "link" %}</a></li>
      <li><a name="video" class="add-block-button">{% trans "video" %}</a></li>
      <li><a name="image" class="add-block-button">{% trans "image" %}</a></li>
      <li><a name="code"  class="add-block-button">{% trans "code" %}</a></li>
    </ul>
    
    <div style="text-align:right">
      <input type="submit" class="submit" value="{% trans "Create"%}" />
    </div>
    
  </form>
</script>

{% for block_form in block_form_list %}
<script id="{{ block_form.type }}-block-new-template" type="text/template">
  <div class="{{ block_form.type }} block-form ui-state-default" name="{{ block_form.type }}">
    {% for field in block_form %}
    {{ field.label_tag }}
    {{ field }}
    {% endfor %}
  </div>
</script>
{% endfor %}
