{% load i18n %}
<script id="user-authorization-template" type="text/template">

  <div class="grid_12">
    <h1>Login</h1>
    <form class="login" method="post" action="/api/user/authorization/">

      <label>Username</label>
      <div><input name="username" type="text"/></div>

      <label>Password</label>
      <div><input name="password" type="text"/></div>

      <div style="text-align:right">
        <span style="font-size: 17px">
          Don't have an user account? Go to 
          <a class="scroll_to_registration" href="#register/">registration!</a>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="disabled" type="submit" value="login" />
      </div>
    </form>
  </div>
  
  <div class="grid_12">
    <div class="or">
      or
    </div>
  </div>
    
  <div class="grid_12" style="text-align:center;">
    <div id="social-box">
      <div class="background"></div>
      <ul>
        <li class="google"><a href="/login/google/">&nbsp;</a></li>
        <li class="facebook"><a href="/login/facebook/">&nbsp;</a></li>
      </ul>
      <ul>
        <li class="twitter"><a href="/login/yahoo/">&nbsp;</a></li>
        <li class="twitter"><a href="/login/twitter/">&nbsp;</a></li>
      </ul>
    </div>
  </div>

  <div class="grid_12 register">
    <h1>Registration</h1>
    <form method="post" action="/api/user/registration/">

      <label>Username</label>
      <div><input name="username" type="text"/></div>
      
      <label>Email</label>
      <div><input name="username" type="text"/></div>

      <label>Password</label>
      <div><input name="password" type="text"/></div>

      <label>Retype password</label>
      <div><input name="password2" type="text"/></div>

      <div style="text-align:right">
        <input type="submit" value="register" />
      </div>
      
    </form>
  </div>
  
</div>
