{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <title>Funnybag!</title>
    <meta charset="utf-8" />
    <meta name="description" content="FUNNYbag" />
    <link rel="Shortcut Icon" type="image/ico" href="{{ MEDIA_URL }}images/favicon.png" />

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-context-min.css">

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/grid.css" type="text/css" media="screen" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form-2.67.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.elastic-1.6.5.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
    <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>

    {% block js-include %}{% endblock %}

    <!--[if IE 7]><link rel="stylesheet" href="css/ie/ie7.css" type="text/css" media="screen"><![endif]-->
    <!--[if lt IE 7]><link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen"><![endif]-->

  </head>

  <body>

    <div id="header" class="clearfix"> <!-- HTML5 header tag -->
      <div id="headercontainer">
        <div id="logo"><a class="introlink anchorLink" href="#">http://OfObO.com</a></div>
        <div id="nav">
          <ul>
            <li><a class="introlink" href="#">{% trans "latest" %}</a></li>
            <li><a class="portfoliolink" href="#new">{% trans "add" %}</a></li>
            <li><a class="loginlink" href="#login">{% trans "login" %}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container_12">
      <div class="main-view">
        
      </div>
      <div class="grid_12 clearfix alpha omega">
        <div id="footer">
        </div>
      </div>
    </div>
    
  </body>
</html>
