{% load i18n %}
{% load compress %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <title>Funnybag!</title>
    <meta charset="utf-8" />
    <meta name="description" content="FUNNYbag" />

    <link rel="Shortcut Icon" type="image/ico" href="{{ MEDIA_URL }}images/favicon.png" />
    
    <link href="http://fonts.googleapis.com/css?family=Koulen:regular&subset=khmer" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Permanent+Marker:regular" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Terminal+Dosis+Light:regular" rel="stylesheet" type="text/css" >
    <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet" type="text/css" >
    
    {% compress css %}
    <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/blocks.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/grid.css" rel="stylesheet" type="text/css" />
    <link href="{{ MEDIA_URL }}css/improvedDropdown.css" rel="stylesheet" type="text/css" />
    {% endcompress %}

    {% compress js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.6.min.js"></script> 
    <script type="text/javascript" src="{{ MEDIA_URL }}js/improvedDropDown.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/underscore-min-1.1.6.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/backbone-min-0.3.3.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form-2.67.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.elastic-1.6.5.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>
    {% endcompress %}

    {% block js-include %}{% endblock %}

    <!--[if IE 7]><link rel="stylesheet" href="css/ie/ie7.css" type="text/css" media="screen"><![endif]-->
    <!--[if lt IE 7]><link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen"><![endif]-->

  </head>

  <body>
    <div id="header" class="clearfix">
      <div id="headercontainer" class="clearfix">
        <div id="logo" style="float:left">
          <span id="logo-view"></span>
          <a href="#">FunnyBag</a>
        </div>
        <ul id="top-nav" class="clearfix">
	  <li><a href="#">{% trans "latest" %}</a></li>
	  <li><a href="#new">{% trans "add" %}</a></li>
	  <li><a href="#login">{% trans "login" %}</a></li>
          <li><a href="#registration">{% trans "registration" %}</a></li>
	</ul>
      </div>
      <div id="userprofileinfo" class="clearfix" style="{% if not user.is_authenticated %}display:none{% endif %}">
        <div id="userprofileinfo_header">
          <span id="username">{{ user }}</span> | 
          <a href="#logout">logout</a>
        </div>
      </div>
    </div>
    
    <div class="container_12">
      <div class="main-view">
        
      </div>
      <div class="grid_12 clearfix alpha omega">
        <div id="footer">
        </div>
      </div>
    </div>
    
  </body>
</html>
